body {
	background-image: linear-gradient(180deg, rgb(132, 245, 209) 0%, rgb(30, 122, 104) 50%, rgb(88, 224, 179) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	width: cover;
	position: relative;
  }

/* unvisited link */
a:link {
color: white;
text-decoration: none;
}

/* visited link */
a:visited {
color: white;
text-decoration: none;
}

/* mouse over link */
a:hover {
color: aquamarine;
text-decoration: none;
}

/* selected link */
a:active {
color:aquamarine;
text-decoration: underline;
}

.menu{
	background-color: black;
	padding-top: 20px;
}

.jumbotron-fluid{
	background-color: black;

}
.lead{
	font-family: futura PT light;
	color: white;
	font-size: 18pt;
}
.container{
	padding-top: 60px;
	padding-bottom: 40px;
}



/* The navigation bar */
#casescroll {
	overflow: hidden;
	background-color: black;
	position: fixed !important; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 10; 
	height: 100%;


	
  }
  
  /* Links inside the navbar */
  #casescroll a {
	float: center;
	display: block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change background on mouse-over */
  #casescroll a:hover {
	background:white;
	color: black;
  }
  
  /* Main content */
  .main {
	margin-top: 30px; /* Add a top margin to avoid content overlay */
  }



p{
	font-family: futura PT light;
	color: white;
	font-size: 18pt;
	text-align: left;
}

ul{
	font-family: futura PT light;
	color: white;
	font-size: 18pt;
	text-align: left;
}

h1{
	font-family: deco;
	font-size: 160pt;
	color: white;
}

h2{
	font-family: futura PT book;
	color: white;
	font-size: 66pt;
	text-align: center;
}

h3{
	font-family: deco;
	color: black;
	font-size: 54pt;
	text-align: center;
}

h4{
	font-family: futura PT book;
	font-size: 22pt;
	color: black;
}

h5{
	font-family: deco;
	color: white;
	font-size: 36pt;
}


#challenge{
	color: white;
	font-family: futura PT light;
	font-size: 18pt;
}

.container-fluid{
	padding-top: 40px;

}

.row{
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 60px;
}

img{
	display: block;
	float: center;
}

.btn{
	background-color: black;
	color: aquamarine;
	font-family: deco;
	font-size: 24pt;
	width: 300px;
	border: white 2px;
}

.btn:hover{
	background-color: white;
	color: black;
}

footer{
	text-align: center;
	height: 420px;
	background-color: black;


}
footer #kimono{
	text-align: center;
}


footer .nav{
	padding-top:40px;
	padding-bottom: 20px;
	font-size: 20pt;
	font-family: futura PT light;


}
footer .nav-item{
	background: rgb(0, 0, 0, 0.7);
	
}






	@font-face{
		font-family: deco;
		src: url("../fonts/paulistana_deco.ttf") format("opentype");
	}

	@font-face{
	  font-family: "futura PT book";
	  src: url("../HexKatRework/fonts/FuturaPTBook.otf")
	   format("opentype");
	}
  
	@font-face{
	  font-family: "futura PT light";
	  src: url("../HexKatRework/fonts/FuturaPTlight.otf") format("opentype");
	}
  