
body {
  background-image: linear-gradient(180deg, rgb(132, 245, 209) 0%, rgb(30, 122, 104) 50%, rgb(132, 245, 209) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: cover;
}



.header {
  background-color: black;
  background-size: cover;
  height: 400px;
  margin-top: -10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "hex head kat";
  
  }
  
  .header #head{
    grid-area: head;
    grid-row: 1;
    grid-column: 2;
    margin-top: 10px;
    margin-left: 15px;
  }
  

  .header #hex{
    grid-area: hex;
    font-family: Hill House;
    font-size: 160px;
    color: white;
    grid-row: 1;
    grid-column: 1;
    margin-top: 100px;
  }

  .header #kat{
    grid-area: kat;
    font-family: Hill House;
    font-size: 160px;
    color: white;
    grid-row: 1;
    grid-column: 3;
    margin-top: 100px;
    margin-right: 20px;
  }

  h1 {
font-family: Hill House;
font-size: 60px;
text-align: center;
color: white;
  }



  
#subheader {
  grid-area: subheader;
  grid-column-start: 3;
  grid-column-end: span 4;
  font-family: Hill House;
  font-size: 40px;
  color: black;
  grid-column-start: 2 span 4;
}




  
 
  #main #about { 
    grid-area: about;
    grid-column-start: 3;
    margin-left: 15px;
    font-family: futura PT light; 
    font-weight: 350;
    font-size: 22px;
    color: white;
    text-align: left;
    margin-top: 100px;
    height: auto;
  
  }

  
  
  #subheader {
    text-align: center;
    font-family: Hill House;
    font-size: 40px;
    color: rgba();
    margin-top: 100px;
    margin-bottom: 100px;
 
  }


  .project{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
   
    grid-template-areas:
    "hover"
    "disabled"
    ;
    height: 500px;
  }

  #dasa {
    grid-area: hover;
    background-color:black;
    color: white;
    font-family: futura PT book;
    font-size: 80px;
    border-color: solid 5px white;
    text-align: center;
    width: 500px;
    text-align: center;
    height: 200px;
    transition: all 0.3s ease;
  
  }
  /* active state */
  #dasa:hover {
  background-color: white;
  color: black;
  transform: scaleX(1) scaleY(1);
  box-shadow: black 10px 10px;
  }






    #writing{
      display: grid;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 800px;
      align-items: center;
      position: relative;
      column-gap: 50px;
      row-gap: 10px;
      margin-bottom: 100px;
      align-content: start;
      grid-template-rows: 800px;
      grid-template-columns: auto 400px 400px auto;
     grid-template-areas: 
     "alsowrite alsowrite"
     "lpreview strongathletic";
    }


    #writing #lpreview {
      grid-row: 1;
      grid-column:2;
    
    }

    h3{
      font-family: futura PT book;
      font-size: 36px;
      font-weight: 400;
      color: white;
      text-align: center;

    }
    p{
      font-family: futura PT light;
      font-size: 22px;
      font-weight: 350;
      color: white;
      text-align: left;
     
    }

    #omelogo{
    box-shadow:white 5px 5px;
    }

    #samilogo{
      box-shadow: white 5px 5px;
    }

    #ome{
      box-shadow: white 2px 2px;
    }

    #sami{
      box-shadow: white 2px 2px;
    }

    #writing #strongathletic{
      grid-row: 1;
      grid-column: 3;
    }

    a{
      font-family: futura PT light;
      font-size: 18px;
      font-weight: 180;
      color: white;
    }

    footer{
      background-color: black;
      background-size: cover;
      width: 100%;
      height: 450px;
      display: inline-block
    }

    
 #logosmall{
  margin-top: 50px;
  margin-left: 300px;

  
}

#email{
  margin-right: 20px;
  margin-bottom: 50px;
}

#ig{
  margin-bottom: 50px;
}

@font-face {
  font-family: "Hill House";
  src: url("../HexKat/fonts/HillHouseMedium-axBgg.otf") format("opentype");
 
  }

  @font-face{
    font-family: "futura PT book";
    src: url("../HexKat/fonts/FuturaPTBook.otf") format("opentype");
  }

  @font-face{
    font-family: "futura PT light";
    src: url("../HexKat/fonts/FuturaPTlight.otf") format("opentype");
  }
