
	body {
		background-image: linear-gradient(180deg, rgb(132, 245, 209) 0%, rgb(30, 122, 104) 50%, rgb(132, 245, 209) 100%);
		background-repeat: no-repeat;
		background-size: cover;
		width: cover;
	  }




/* unvisited link */
a:link {
	color: white;
	text-decoration: none;
  }
  
  /* visited link */
  a:visited {
	color: white;
	text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
	color: aquamarine;
	text-decoration: none;
  }
  
  /* selected link */
  a:active {
	color:aquamarine;
	text-decoration: underline;
  }





		@font-face {
			font-family: moonrise;
			src: url("../HexKatMobile/fonts/Moonrise-Regular.otf");
		}

		@font-face{
			font-family: minta;
			src: url("../HexKatMobile/fonts/Minta.otf");
		}

		@font-face{
			font-family: hazel;
			src: url("../HexKatMobile/fonts/HazelDecoLight-Regular.otf");
		}

		@font-face{
			font-family: deco;
			src: url("../HexKatMobile/fonts/paulistana_deco.ttf");
		}

		@font-face{
			font-family: futura PT light;
			src: url("../HexKatMobile/fonts/FuturaPTLight.otf");
		}
