body {
	background-image: linear-gradient(180deg, rgb(132, 245, 209) 0%, rgb(30, 122, 104) 50%, rgb(132, 245, 209) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	width: cover;
  }

/* unvisited link */
a:link {
color: white;
text-decoration: none;
}

/* visited link */
a:visited {
color: white;
text-decoration: none;
}

/* mouse over link */
a:hover {
color: aquamarine;
text-decoration: none;
}

/* selected link */
a:active {
color:aquamarine;
text-decoration: underline;
}

.menu{
	background-color: black;
}

.jumbotron-fluid{
	background-color: black;

}
.lead{
	font-family: futura PT light;
	color: white;
	font-size: 18pt;
}
.container{
	padding-top: 60px;
}

p{
	font-family: futura PT light;
	color: white;
	font-size: 18pt;
}

h1{
	font-family: deco;
	font-size: 160pt;
	color: white;
}

h2{
	font-family: futura PT light;
	color: white;
	font-size: 48pt;
}

h5{
	font-family: deco;
	color: #4ff5c0;
	font-size: 48pt;
}

.pl-1 {
	padding-left: 50px;
}

.carousel {
	padding-top: 60px;
	margin-bottom: 10px;
	width: 100%;
}

.carousel-item{
	height: auto;
padding: 30px;
	margin-top: 10px;

}

.carousel-caption{
	margin-left: 300px;
	margin-bottom: 5%;
	font-size: 14pt;
	
}

.card-title{
	color: black;
}

.title{
	color: white;
}

.card-text{
	color: white;
	font-family: futura PT light;
	font-size: 24px;
}

.card{
	background-color: rgb(132, 245, 209,0.0);
	padding-top: 200px;
	border: none;
}

.row{
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 60px;
}


.btn{
	background-color: black;
	color: aquamarine;
	font-family: deco;
	font-size: 24pt;
	width: 300px;
	border: white 2px;
}

.btn:hover{
	background-color: white;
	color: black;
}

footer{
	height: 400px;
	background-color: black;

}

footer .logo{
	display: block;
	float: left;
	padding-right: 50px;
	padding-top: 50px;
}

footer .menu .nav{
	padding-top: 120px;
	display: block;
}

@font-face {
	font-family: "deco";
	src: url("../HexKatRework/fonts/paulistana_deco.ttf") format("truetype");
	}
  
	@font-face{
	  font-family: "futura PT book";
	  src: url("../HexKatRework/fonts/FuturaPTBook.otf")
	   format("opentype");
	}
  
	@font-face{
	  font-family: "futura PT light";
	  src: url("../HexKatRework/fonts/FuturaPTlight.otf") format("opentype");
	}
  